<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serve Taxonomy API</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
        
    <input type = "search" value = "common name of any animal" id="animal">
    <button id="buttonAnimal">Check Taxonomy!</button>

    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>


   
<script defer src="{{ url_for('static', filename='taxonomyFront.js') }}"></script>
    
</body>
</html>