<!DOCTYPE html>
<html>
<head>
    <title>Serve Taxonomy API</title>
    <link rel="stylesheet" href="../templates/style.css">
</head>
<body>
        
    <input id="animal">
    <button id="buttonAnimal">Check Taxonomy!</button>

    <h1 id="kingdom"></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>


   
    <script defer src="{{ url_for('static', filename='taxonomyFront.js') }}"></script>
    
</body>
</html>